{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="text-gray-700 body-font">
    <div class="flex container px-5 mx-auto flex-wrap justify-between">
        <div class="w-full mb-6 py-6 flex justify-between items-center border-b border-gray-200">
            <div class='flex flex-row'>
                <div class='pr-10'>
                    <h1 class="text-4xl text-gray-800">Архив</h1>
                </div>
            </div>
        </div>
        <div class="flex flex-col w-full">
            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Имя
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Фамилия
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Отчество
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Почта
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Телефон
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Ответственный
                            </th>
                            {% if request.user.is_organisor %}
                            <th scope="col" class="relative px-6 py-3">
                                <span class="sr-only">Изменить</span>
                            </th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for lead in leads %}
                            <tr class="bg-white">
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                    <a class="text-blue-500 hover:text-blue-800" href="{% url 'leads:lead-detail' lead.pk %}">
                                        {{ lead.first_name }}
                                    </a>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    {{ lead.last_name }}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    {{ lead.middle_name }}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    {{ lead.email }}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    {{ lead.phone_number }}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                    <a class="text-blue-500 hover:text-blue-800" href="{% url 'agents:agent-detail' lead.agent.pk %}">
                                        {{ lead.agent.user.first_name }} {{ lead.agent.user.last_name }}
                                    </a>
                                </td>
                                {% if request.user.is_organisor %}
                                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                    <a href="{% url 'leads:lead-toggle-active' lead.id %}">
                                        <input type="button" value='Вернуть' class="text-blue-500 hover:text-blue-800 cursor-pointer" >
                                    </a>
                                </td>
                                {% endif %}
                            </tr>

                        {% empty %}

                        <p class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Клиенты отсутствуют</p>

                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}